/* GLOBAL RULES */

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  margin: 0 auto;
  max-width: 1200px;
}

/* TITLES */

h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  color: #2e3333;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #2e3333;
}

h3 {
  font-size: 1.17em;
  color: #2e3333;
}

p {
  font-size: 0.9rem;
  color: #808484;
}

/* HEADER */

.logo {
  height: 70%;
}

.top-bar {
  border-bottom: 1px solid #e9ebeb;
}
.top-bar-center {
  display: flex;

  max-width: 1200px;
  margin: 0 auto;
  height: 60px;
  align-items: center;
}

.restaurant-info {
  display: flex;
  padding: 30px 0;
  gap: 20px;
}

.restaurant-info-text {
  display: flex;
  flex-direction: column;
}

.restaurant-info-text h1 {
  font-size: 2rem;
  margin-top: 0.6rem;
  margin-bottom: 2rem;
}

.restaurant-info-text p {
  color: #868a8a;
  font-size: 1.2rem;
  line-height: 1.5;
}

.restaurant-info-picture {
  width: 350px;

  display: flex;
  border-radius: 5px;
}

/* CONTENT */

.content {
  background-color: #f3f5f5;
  display: flex;
}

.content-center {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;

  justify-content: space-between;
}

.menu {
  width: 70%;
}

.cart {
  width: 30%;
}

.menu-items {
  display: flex;
  flex-wrap: wrap;

  gap: 30px;

  /* justify-content: center; */
}

.menu-item {
  display: flex;
  justify-content: space-between;
  width: 48%;
  min-width: 300px;
  background-color: white;
  height: 160px;
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: box-shadow 0.3s;
  gap: 20px;
}
.menu-item:hover {
  box-shadow: 0 0 15px rgba(193, 190, 190, 0.4);
}

.menu-item-h3 {
  font-weight: 400;
  margin-bottom: 0.5rem;
}
.menu-item-title {
  line-height: 4rem;
}

.menu-item-description {
  height: 2.6rem;
  font-size: 0.9rem;
  line-height: 1.3rem;
  overflow: hidden;
  margin-bottom: 1rem;
}

.menu-item-price {
  font-size: 1.1rem;
  color: #808484;
}

.menu-item-popular {
  font-size: 0.8rem;
  font-weight: bold;
  color: #ff8000;
}

.menu-item-price-popular {
  display: flex;
  gap: 30px;
  align-items: center;
}

.menu-item-img {
  height: 130px;
  width: 130px;
  object-fit: cover;
  border-radius: 5px;
}

.items-container {
  margin-bottom: 20px;
}

/* Cart */

.cart-container {
  width: 29%;
  background-color: white;
  margin-top: 30px;
  display: flex;
  border-radius: 5px;
  flex-direction: column;
  padding: 10px;
}

.cart-row {
  display: flex;

  height: 55px;
  align-items: center;
}

.cart-row-right {
  display: flex;
  justify-content: space-between;
  width: 80%;
  padding: 0 5px;
}
.cart-row-left {
  display: flex;
  justify-content: space-between;
  width: 20%;
  padding: 0 5px;
  background-color: red;
}

.cart-button {
  background-color: #5adfd4;
  height: 50px;
  width: 330px;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

.cart-items {
  border-bottom: 2px solid #e9ebeb;
  margin-bottom: 20px;
  color: #2e3333;
}

.cart-price-details {
  /* background-color: red; */
  border-bottom: 2px solid #e9ebeb;
  margin-bottom: 20px;
  height: 90px;
  color: #2e3333;
}

.cart-item-price {
  display: flex;
  justify-content: space-between;
  line-height: 34px;
  color: #2e3333;
}

.cart-price-total {
  height: 65px;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 700;
  color: #2e3333;
}
